doctype html
html
	head
		title nCAS Touch UI
		link(href="styles/app.css" type="text/css" rel="stylesheet")
		meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport')
		meta(name="apple-mobile-web-app-capable" content="yes")
	body(id="mainBody")
		span(ng-app="App" class="AppSuperParent")
			span(ui-view="main-view" class="main-view-port")

		script(src="./scripts/app.min.js")